@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');

html, body {
  font-weight: 400;
  font-family: $f-def;
  overflow-x: hidden;
}

.container {
  width: 1140px;
  padding: 0;
  @include max (1140) {
    width: 100%;
    padding: 0 15px;
  }
}

.bg--blue {
  background-color: #00a3e1;
}

.bg--white {
  background-color: $col-white;
}

.uppercase {
  text-transform: uppercase;
}
.cart-img-item{
  max-width: 80px;
}

.product-box {
  border: 1px solid gray;
  padding: 30px 15px;

  img {
    width: 100%;
  }

  button {
    opacity: 0;
    transition: opacity .4s;

  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}