.btn {
  line-height: 100%;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Work Sans';
  &--blue {
    background: #5dcfed;
    color: $col-white;
    &:hover {
      opacity: .75;
      transition: .5s;
    }
  }
  &--yellow {
    background-color: #d6d600;
    color: $col-white;
    &:hover {
      opacity: .75;
      transition: .5s;
    }
  }
  &--white {
    background: $col-white;
    border: 3px solid $col-white;
    &:hover {
      opacity: .75;
      transition: .5s;
      border: 3px solid gray;
    }
  }
  &--quantitiy{
    padding: 10px;
    border: 2px solid $col-black;
    transition: all .2s;
    &:hover{
      background-color: $col-black;
      color: $col-white;
    }
  }

}
