$f-def: 'Work Sans', sans-serif;

h1, h2 {
  font-size: 3em;
  line-height: 110%;
  font-weight: 700;

  &.tiny {
    font-size: 1.4em;
    @include max(676) {
      font-size: 1em;
    }
  }
  &.tiny2 {
    font-size: 1.8em;
  }
  &.small {
    font-size: 2.6em;
    @include max(676) {
      font-size: 2em;
    }
  }
  &.large {
    font-size: 4em;
    line-height: .8em;
  }
  &.xLarge {
    font-size: 8em;
  }
}

h3 {
  font-size: 3em;
  line-height: 120%;
  &.tiny {
    font-size: 1.4em;
  }
  &.tiny2 {
    font-size: 1.9em;
  }
  &.small {
    font-size: 3.5em;
  }
  &.large {
    font-size: 4.4em;
  }
  &.xLarge {
    font-size: 8em;
  }
}

h4 {
  font-size: 2.5em;
  line-height: 120%;
  &.tiny {
    font-size: 2.3em;
  }
  &.small {
    font-size: 3.5em;
  }
  &.large {
    font-size: 4.4em;
  }
  &.xLarge {
    font-size: 8em;
  }
}

h5 {
  font-size: 1.8em;
  line-height: 120%;
  &.tiny {
    font-size: 1.4em;
  }
  &.small {
    font-size: 3.5em;
  }
  &.large {
    font-size: 4.4em;
  }
  &.xLarge {
    font-size: 8em;
  }
}

h6 {
  font-size: 1.4em;
  line-height: 120%;
  &.xstiny {
    font-size: .8em;
  }
  &.tiny {
    font-size: 1em;
  }
  &.small {
    font-size: 1.6em;
  }
  &.small2 {
    font-size: 1.7em;
  }
  &.large {
    font-size: 2em;
  }
  &.xLarge {
    font-size: 2.7em;
  }
}

p {
  font-size: 1em;
  margin-top: 1em;
  line-height: 150%;
}

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  &.xstiny2 {
    font-size: .7em;
    line-height: 1.3em
  }
  &.xstiny {
    font-size: .8em;
    line-height: 1.3em
  }
  &.tiny {
    font-size: .9em;
    line-height: 1.3em
  }
  &.tiny2 {
    font-size: 1.3em;
  }
  &.small {
    font-size: 1.2em;
    line-height: 1.6em;
  }
  &.medium {
    font-size: 1.6em;
  }
  &.large {
    font-size: 2em;
  }
}

a {
  &.tiny {
    font-size: .8em;
    @include max(922) {
      font-size: .6em;
    }
  }
  &.xstiny {
    @include max(922) {
      font-size: .8em;
    }
  }
}

small {
  font-size: 11px;
  display: inline-block;
  line-height: 150%;
}

label {
  line-height: 150%;
}

input {
  font-size: 20px;
}

.col-white {
  color: $col-white;
}

