#monit {
  & > div:first-of-type {
    //color: $def;
    .btn, p {
      font-size: 1em;
    }
    p {
      margin-top: 1em;
    }
  }
  .btn {
    &--cancel {
      //border: 1px solid $col-black;
    }
  }
  .label {
    margin: 1.5em 0 2em;
  }
}
.checkbox_ {
  position: relative;
  cursor: pointer;
  z-index: 200;
  padding-left: 30px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  //@extend .hover;
  &:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    left: 0;
    top: 0;
    //color: $col-black;
    //border: 1px solid $col-black;
  }
  a {
    margin-left: 5px;
  }
  &.active:before {
    content: '✔';
  }
  &.error, &.red {
    //color: $col-red;
    @include transition(color .3s ease-out);
    &:before {
      content: '';
      //border: 2px solid $col-red;
    }
  }
}